%html
  %head
    %meta{'http-equiv' =>"Content-Type", :content => 'text/html; charset=UTF-8'}
    %title get OAuth acess_token
    %link{:rel => 'stylesheet', :href => "#{base_url}/stylesheet.css", :type => 'text/css'}
  %body
    %div.main
      = yield
    %div.foot
      author: 
      %a{:href => "http://twitter.com/yayugu"} @yayugu
